%header.bg-dark.py-5
  .container.px-4.px-lg-5.my-5
    .text-center.text-white
      %h1.display-4.fw-bolder
        = current_page?(root_path) ? I18n.t(:'banner.home_page') : @category.name
      - if !current_user
        %p.lead.fw-normal.text-white-50.mb-0 #{I18n.t(:'banner.login')}
